<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
        | UC4
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= {% static 'css/style.css' %} >
</head>
<body>
    <header>
        <h1>UC4</h1>
        <p>Rejas - Mendoza - Rosado</p>
    </header>
    <nav>
        <ul>
            <li>
                <a href= {% url 'listado-cursos' %} >Cursos</a>
            </li>
            <li>
                <a href= {% url 'crear-curso' %} >Crear curso</a>
            </li>
            <li>
                <a href={% url 'listado-carreras' %}>Carreras</a>
            </li>
            <li>
                <a href={% url 'crear-carrera' %}>Crear carreras</a>
            </li>
        </ul>
    </nav>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    
    {% endblock content %}
    <script>
        // Ocultar automáticamente el mensaje flash después de 5 segundos
        setTimeout(function() {
            var messages = document.getElementsByClassName("messages")[0];
            messages.style.display = "none";
        }, 3000);
    </script>
</body>

</html>